<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jaeyoung1.bmi_chap01">

    <application
        android:allowBackup="true"
        android:icon="@drawable/whitelogo"
        android:label="@string/logo"
        android:roundIcon="@drawable/whitelogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bmichap01">
        <activity android:name=".MainActivity"
            android:windowSoftInputMode="adjustPan">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>

</manifest>